In [47]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [48]:
np.random.seed(101)
data = randn(5,4)
data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [49]:
clms = ["W","X","Y","Z"]
clms

['W', 'X', 'Y', 'Z']

In [50]:
index = ["A","B","C","D","E"]
index

['A', 'B', 'C', 'D', 'E']

In [51]:
# pd => module
# DataFrame => Class
df = pd.DataFrame(data, columns=clms, index=index)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [52]:
df["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [53]:
df["W"]["A"]

np.float64(2.706849839399938)

In [54]:
df[["W","Y"]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [55]:
df[["W"]]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [56]:
df["n"] = df["W"] + df["Y"]
df

          W         X         Y         Z         n
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [57]:
df.drop("n", axis=1) # not permenantly

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
df

          W         X         Y         Z         n
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [59]:
dfdc = df.drop("n", axis=1)
dfdc

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [60]:
df.drop("n", axis=1, inplace=True)

In [61]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [62]:
df.loc["A"] # properties

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [63]:
df.loc[["A"]] # properties

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [64]:
print(df.loc)

<pandas.core.indexing._LocIndexer object at 0x00000141E1EFC050>

In [65]:
print(df.drop)

<bound method DataFrame.drop of           W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509>

In [66]:
df.loc[["A","C","E"]]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [67]:
df.iloc[[0,2,4]]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [68]:
df.loc[["A","C","E"],["W","Y"]]

          W         Y
A  2.706850  0.907969
C -2.018168  0.528813
E  0.190794  2.605967

In [69]:
df.drop("Total", axis=0, inplace=True,errors="ignore")
df.loc["Total"] = df.sum()
df

              W         X         Y         Z
A      2.706850  0.628133  0.907969  0.503826
B      0.651118 -0.319318 -0.848077  0.605965
C     -2.018168  0.740122  0.528813 -0.589001
D      0.188695 -0.758872 -0.933237  0.955057
E      0.190794  1.978757  2.605967  0.683509
Total  1.719289  2.268822  2.261436  2.159356